# Ignore everything
*

# But do not ignore these folders and files:
!src/
!src/Internship/
!src/Internship/**

!src/ServerClient/
!src/ServerClient/**

!src/Tictactoe/
!src/Tictactoe/**

# Keep .gitignore itself
!.gitignore

# Ignore build/output and IDE files
*.class
/out/
.idea/
.DS_Store
